<!DOCTYPE html>
<html>
<head><title>{{ username }} homepage</title></head>
<body>
<p><b>{{ username }}</b>, welcome to your homepage</p>
<hr>
<p>Account status: <b>{{ status }}</b> </p>
{% if tokens %}
    <hr>
    <p>Aviable for using auth_tokens:</p>
    <ul>
    {% for token in tokens %}
        <form action="/delete_token" method="POST">
            <li>
                {{ token[0] }}
                <input type = "text" name="token" value = "{{ token[0] }}" hidden="true" />
                <input type = "text" name="user" value = "{{ username }}" hidden="true" />
                <input type = "submit" value = "delete">
            </li>
        </form>
    {% endfor %}
    </ul>
    <hr>
{% else %}
    <p>No auth_tokens are available</p>
{% endif %}

<form action="/create_new_token" method="POST">
    To add a new auth_token to your account press:
    <input type = "text" name="user" value = "{{ username }}" hidden="true" />
    <input type = "submit" value = "create new token">
    <br>
    Check our information for developers by <a href="" target="_blank">link</a>.
</form>

<form action="/delete_account" method="POST">
    <hr>
    Enter PASSWORD to delete this account permanently:
    <input type = "text" name="user" value = "{{ username }}" hidden="true" />
    <input type = "text" name="pass" placeholder = "password"/>
    <input type = "submit" value = "delete">
    {% if delete_error %}
        <b>{{ delete_error }}</b>
        <!-- still bad -->
    {% endif %}
</form>

<hr> <!-- and a little marketing -->
<p>
    <a href='http://dequone.pythonanywhere.com/'>back to main</a> OR
    follow me on <a href='https://github.com/d3QUone' target='_blank'>gitHub</a> !
</p>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter27775485 = new Ya.Metrika({id:27775485,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27775485" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
