<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Customer help</title>
</head>
<body>

How to purchase a key:
<br>
1) Go to <a href="https://load.payoneer.com/LoadToPage.aspx">Payoneer Load Page</a>
<br>
2) Write my card number 5300721447016814
<br>
3) Choose «loading reason: freelance»
<br>
4) Pay $20 for every key. This is a monthly price. Make a screenshot of the Confirmation page.
<br>
5) Mail me this proof and I'll set a payed limit for your account as soon as possible
<br>
6) Go to <a href="{{ url_for('developer_help') }}">the developers page</a> to learn what to do next
<br>
<b>Thanks!</b>

</body>
</html>
