<html>
<title>main</title>
<body>
<h4>Hi there from Flask!</h4>
<p>This is a main page.</p>

Go to <a href='http://dequone.pythonanywhere.com/v1'>http://dequone.pythonanywhere.com/v1</a>
passing 'auth_token' and 'v' parameters to continue the work

<br><br>
<form action="/doauth" method="POST">
    <hr>
    Authorization:
    <input name="user" type="text" placeholder="username" maxlength="50"/>
    <input name="pass" type="password" placeholder="password" maxlength="50"/>
    <input type="submit" value="Submit">
    <br><hr>
</form>

<!--<br><hr>Registration:-->


<p>Thank you for using my service!</p>
<p>Since Dec 2014</p>
</body>
</html>
