<!doctype html>
<html>
<head><title>v1 demo-page</title></head>
<body>

<h4>Demo page</h4>
<p>You're getting sent paraments now but soon (v2api) this will return a result of the script</p>

{% if auth_token and v %}
    your key = {{ auth_token }}
    <br>
    your ver = {{ v }}
{% else %}
    {% if not v %}
        incorrect v sent, int required
    {% else %}
        no auth_token sent
    {% endif %}
    <br>
    example of usage:
    <a href='http://dequone.pythonanywhere.com/v1?auth_token=1zxclJHnzx1jhs1&v=1'>
    http://dequone.pythonanywhere.com/v1?auth_token=1zxclJHnzx1jhs1&v=1</a>
{% endif %}

<hr> <!-- and a little marketing -->
<p>
    <a href='http://dequone.pythonanywhere.com/'>back to main</a> OR
    follow me on <a href='https://github.com/d3QUone' target='_blank'>gitHub</a> !
</p>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter27775485 = new Ya.Metrika({id:27775485,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27775485" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
